body {
  margin: 0;
  font-size: 20px;
}

#content {
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 50fr 1fr;
  height: 100vh;
}

header {
  background-color: lightcyan;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

header nav {
  margin-left: auto;
}

header nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

main img {
  height: 700px;
}

main div {
  width: 65%;
  text-align: center;
}

#main-dishes div {
  display: flex;
  gap: 1rem;
}

#main-about div {
  width: 40%;
}

footer {
  background-color: lightgray;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}
